<h1>Reviews</h1>

<%= link_to 'Add Review', new_review_path(course_id: @course.id, professor_id: @professor.id) %>
<h2><%= @professor.full_name %></h2>
<h3><%= @course.title %></h3>
<p>Average Rating: <%= @rating %></p>
<% if !@reviews.empty? %>
  <table>
    <thead>
    <tr>
      <th>Rating</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.formatted_rating %></td>
          <td><%= review.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <p>No reviews have been made yet.</p>
<% end %>

<%= link_to 'Back to Professor', professor_path(@professor.id) %>
<%= link_to 'Back to Course', course_path(@course.id) %>