<p id="notice"><%= notice %></p>

<%= link_to 'Add Course', new_course_path(professor_id: @professor.id) %>

<p>
  <strong>First name:</strong>
  <%= @professor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @professor.last_name %>
</p>

<% if @courses %>
    <% @courses.each do |course| %>
        <p><%= course.title %></p>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
