<p id="notice"><%= notice %></p>

<%= link_to 'Add Course', new_course_path(professor_id: @professor.id) %>

<p>
  <strong>First name:</strong>
  <%= @professor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @professor.last_name %>
</p>

<% if @courses %>
    <% @courses.each do |course| %>
        <p><%= link_to course.title, course_path(course.id) %></p>
    <% end %>
<% end %>

Others:
<% if @other_courses %>
    <%= form_for :add_course, url: add_course_professors_path do |form| %>
        <%= form.select :course_id, @other_courses.collect { |course| [course.title, course.id] } %>
        <%= form.hidden_field :professor_id, :value => @professor.id %>
        <%= form.submit "Add Course" %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
