<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @professor_name %>
    <p class="text-muted">This will add a new course and associate it with <%= @professor_name %>.</p>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :course_title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :course_description, class: "form-control" %>
  </div>

  <% if @professor_id %>
      <%= form.hidden_field :professor_id, :value => @professor_id %>
  <% end %>

  <div class="actions">
    <%= form.submit "Save Course", class: "btn btn-md btn-custom btn-blue form-control" %>
  </div>
<% end %>
