<p id="notice"><%= notice %></p>

<%= link_to 'Add Professor', new_professor_path(course_id: @course.id) %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<% if @professors %>
    <table>
      <thead>
      <tr>
        <th>Professor</th>
        <th>Rating</th>
      </tr>
      </thead>

      <tbody>
      <% @professors.zip(@course_professor_association) do |prof, association| %>
          <tr>
            <td><%= link_to prof.full_name, reviews_professors_path(prof.id, @course.id) %></td>
            <td>
              <% if association.average_rating.nil? %>
                No reviews yet
              <% else %>
                <%= association.formatted_average_rating %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if !@other_professors.empty? %>
    <%= form_for :add_professor, url: add_professor_courses_path do |form| %>
      <%= form.select :professor_id, @other_professors.collect { |prof| [prof.full_name, prof.id] } %>
      <%= form.hidden_field :course_id, :value => @course.id %>
      <%= form.submit "Add Professor" %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>