<p id="notice"><%= notice %></p>

<%= link_to 'Add Professor', new_professor_path(course_id: @course.id) %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<% if @professors %>
    <% @professors.each do |prof| %>
      <p><%= link_to prof.full_name, professor_path(prof.id) %></p>
    <% end %>
<% end %>

Others:
<% if @other_professors %>
    <%= form_for :add_professor, url: add_professor_courses_path do |form| %>
      <%= form.select :professor_id, @other_professors.collect { |prof| [prof.full_name, prof.id] } %>
      <%= form.hidden_field :course_id, :value => @course.id %>
      <%= form.submit "Add Professor" %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>