<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :review_description %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.select :professor_id, @professors.collect { |prof| [prof.full_name, prof.id] } %>
    <!--<%= form.text_field :professor_id, id: :review_professor_id %>-->
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.select :course_id, @courses.collect { |course| [course.title, course.id] } %>
    <!--<%= form.text_field :course_id, id: :review_course_id %>-->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
