<div class="container">
  <div class="main-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-8">
        <h1><%= link_to @professor.full_name, professor_path(@professor.id) %></h1>
        <h2><%= link_to @course.title, course_path(@course.id), class: "link-blue text-bold" %></h2>
        <p>
          <span class="text-bold">Average Rating:</span>
          <% if !@rating.nil? %>
              <%= number_with_precision(@rating, :precision => 2) %> ★
          <% else %>
              No ratings yet for this course
          <% end %>
        </p>
      </div>
      <div class="col-md-4 ml-auto">
        <%= link_to 'Add Review', new_review_path(course_id: @course.id, professor_id: @professor.id), class: "btn btn-md btn-custom btn-blue float-right" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% if !@reviews.empty? %>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Rating</th>
                <th>Review</th>
              </tr>
              </thead>

              <tbody>
              <% @reviews.each do |review| %>
                  <tr>
                    <td><%= number_with_precision(review.rating, :precision => 2) %> ★</td>
                    <td><%= review.description %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <p>No reviews have been made yet.</p>
        <% end %>
        <%= link_to 'Back to Professor', professor_path(@professor.id), class: "link-blue" %> |
        <%= link_to 'Back to Course', course_path(@course.id) %>

      </div>
    </div>
  </div>
</div>